<html>
<head>
    <title>File Not Found</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
 <div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <h2 style="margin: 50px;">File Not Found</h2>
</div>
  </div>
</body>
</html>